<form class="VocabularyTranslator ui grid form">
  <div class="equal width row">
    <div class="column">
        <div class="field">
            <label for="vocabulary_input">{{ $t('Vocabulary Input') }}</label>
            <textarea id="vocabulary_input" v-model="db.localConfig.vocabularyInput"></textarea>
            <div class="ui fluid buttons">
              <button class="ui button" type="button"
                v-if="isSpeaking === false"
                :class="computedSpeakButtonClassList"
                @click="startSpeak">
                {{ $t('Speak') }}
              </button>
              <button class="ui positive button" type="button"
                v-if="isSpeaking === true"
                @click="stopSpeak">
                {{ $t('Stop Speak') }}
              </button>
              <button class="ui button" type="button"
                :class="computedTranslateButtonClassList"
                @click="startTranslate">
                {{ $t('Translate') }}
              </button>
            </div>
              
        </div>
    </div>
    <div class="column">
        <div class=" field">
          <label for="vocabulary_output">{{ $t('Vocabulary Output') }}</label>
          <textarea id="vocabulary_output" v-model="db.localConfig.vocabularyOutput"></textarea>


          <div class="ui fluid buttons">
            <button class="ui button" type="button"
              :class="computedCopyButtonClassList"
              @click="copy">
              {{ $t('Copy') }}
            </button>
            <a href="https://docs.google.com/presentation/d/1xfNgDLuYfHPbs0IEzQmQfE9cQ5q9O_sGfWTQWvv1-Hs/edit#slide=id.g1580e701989_0_0" class="ui button"
              :class="computedAddDictionaryButtonClassList"
              target="slide">
              {{ $t('Slide') }}
          </a>
            <button class="ui button" type="button"
              :class="computedAddDictionaryButtonClassList"
              @click="addDictionary">
              {{ $t('Add to Dictionary') }}
            </button>
          </div>
            
        </div>
    </div>
  </div>
</form>